---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=999&currency=usd&source=tok_1CnNhFEXB5cAsLlf23nqeQ4T&description=Sign+up+charge+for+john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_HopEBCoEm41xq4hCJB3AJtoI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_1CnNhGEXB5cAsLlf5YBDoqH4",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "type": "card_error"
          }
        }
  recorded_at: Fri, 13 Jul 2018 09:36:18 GMT
recorded_with: VCR 4.0.0
