---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=7&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_HopEBCoEm41xq4hCJB3AJtoI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1CnLMmEXB5cAsLlfrJdaTpPZ",
          "object": "token",
          "card": {
            "id": "card_1CnLMlEXB5cAsLlfgaM0tAAU",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "K3ctpQO2s8le0BrR",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "23.19.87.219",
          "created": 1531465620,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 13 Jul 2018 07:07:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=999&currency=usd&card=tok_1CnLMmEXB5cAsLlfrJdaTpPZ&description=a+valid+charge
    headers:
      Authorization:
      - Bearer sk_test_HopEBCoEm41xq4hCJB3AJtoI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CnLMmEXB5cAsLlfwNcIYTa7",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1CnLMmEXB5cAsLlfPIqag0Cp",
          "captured": true,
          "created": 1531465620,
          "currency": "usd",
          "customer": null,
          "description": "a valid charge",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CnLMmEXB5cAsLlfwNcIYTa7/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CnLMlEXB5cAsLlfgaM0tAAU",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "K3ctpQO2s8le0BrR",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Fri, 13 Jul 2018 07:07:01 GMT
recorded_with: VCR 4.0.0
