---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=7&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_HopEBCoEm41xq4hCJB3AJtoI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1CnR9YEXB5cAsLlfoRjVoGOp",
          "object": "token",
          "card": {
            "id": "card_1CnR9YEXB5cAsLlfE9lVM8x0",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "Qs2jMKWBjmLd0Fru",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "23.19.87.219",
          "created": 1531487864,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 13 Jul 2018 13:17:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=999&currency=usd&source=tok_1CnR9YEXB5cAsLlfoRjVoGOp&description=an+invalid+charge
    headers:
      Authorization:
      - Bearer sk_test_HopEBCoEm41xq4hCJB3AJtoI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_1CnR9ZEXB5cAsLlfGv0BIBTa",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "type": "card_error"
          }
        }
  recorded_at: Fri, 13 Jul 2018 13:17:45 GMT
recorded_with: VCR 4.0.0
